<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Frete</title>
   <link rel="stylesheet" type="text/css" media="screen" href="style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
      <header>
         <div id="header1">
         <img id="logo" src="IMG/logomiuda.png" width="150px">
         </div>
      </header>
      <main>
         <div class="block1">
            <div class="block2">
               <!-- livro 1 -->
               <h1 class="h1">O pequeno principe</h1>
               <p class="qtd2">Qtd:0</p>
               <p class="p1">Preço R$00,00</p>
               <img id="book1" src="IMG/pqn.jpeg">
               <div class="line1"></div>
               <!-- livro 2 -->
               <h2 class="h2">Isto não e uma cenoura</h2>
               <p class="qtd2">Qtd:0</p>
               <p class="p2">Preço R$00,00</p>
               <img id="book2" src="IMG/cnr.jpeg">
               <!--Botão ver mais-->
               <button id="button1top" type="button">Ver mais</button>
               <div class="line2"></div>
               <p id="frete">frete:R$00,00</p>
               <p id="total">Total:R$00,00</p>      
            </div>
         </div>
         <h1 id="title1">Dados para Recebimento</h1>
         <div class="input1">
            <input name="number1" type="text" placeholder="Nome Completo">
         </div>
         <div class="input2">
            <input name="number2" type="text" placeholder="Telefone">
         </div>
         <div class="input3">
            <input name="number3" type="text" placeholder="CEP">
         </div>
         <div id="cax1"><i class="fa-solid fa-location-dot"></i id="endress">Endereço
            <p id="ceptext">CEP 00000-000 - Bairro xxxxxx</p>
            <p id="endresstext">São Paulo - São Paulo</p>
         </div>
         <div class="input4">
            <input name="number4" type="text" placeholder="Numero da residência">
            <input name="number5" type="text" placeholder="Complemento(opicional)">
         </div>
         <div id="button1">
            <button id="number6" type="button">Prosseguir para pagamento</button>
         </div>
      </div>
      </main>
</html>
