<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Frete</title>
   <link rel="stylesheet" type="text/css" media="screen" href="stylepagamento.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
      <header>
         <div id="header1">
         <img id="logo" src="IMG/logomiuda.png" width="150px">
         </div>
      </header>
      <main>
         <div class="block1">
            <div class="block2">
               <!-- livro 1 -->
               <h1 class="h1">O pequeno principe</h1>
               <p class="qtd2">Qtd:0</p>
               <p class="p1">Preço R$00,00</p>
               <img id="book1" src="IMG/pqn.jpeg">
               <div class="line1"></div>
               <!-- livro 2 -->
               <h2 class="h2">Isto não e uma cenoura</h2>
               <p class="qtd2">Qtd:0</p>
               <p class="p2">Preço R$00,00</p>
               <img id="book2" src="IMG/cnr.jpeg">
               <!--Botão ver mais-->
               <button id="button1top" type="button">Ver mais</button>
               <div class="line2"></div>
               <p id="frete">frete:R$00,00</p>
               <p id="total">Total:R$00,00</p>      
            </div>
         </div>
         <div class="pagamentos">Formas de Pagamento</div>
            <div class="caixa-1"><i class="fa-regular fa-credit-card"></i>
               <div class="cd">Cartão de credito</div>
            </div>
            <div class="caixa-1"><i class="fa-solid fa-barcode"></i>
               <div class="boleto">Boleto Bancário</div>
            </div>
            <div class="caixa-1"><i class="fa-brands fa-pix"></i></i>
               <div class="pix">Pix</div>
            </div>
            <div class="caixa-1"><i class="fa-solid fa-money-bill-transfer"></i></i></i>
               <div class="DB">Deposito bancario</div>
            </div>
            <div id="caixa-2">
               <button id="button2" type="button">Finalizar</button>
      </main>
</html>
