<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <!-- natan css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style-header.css">
    <link rel="stylesheet" href="style/style-about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style/style-footer.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');</style>
</head>
<body>
    <header>
        <!-- natan cabeçalho -->
        <nav class="nav-bar">
            <div class="logo">
                <img src="image/logomiuda-removebg-preview.png" width="100px" alt="miuda">
            </div>
            <div class="nav-pesquisa">
                <form>
                    <input placeholder='pesquisar'/>
                    <button>enviar</button>
                </form>
            </div>
            <div class="nav-list">
                <ul class="nav-item">
                    <li class="nav-item1"><a href="#"><img src="image/icone-menu.png" alt="ícone de menu" width="40"></a></li>
                    <li class="nav-item2"><a href="#"><img src="image/icone-carrinho.png" alt="ícone de carrinho" width="40"></a></li>
                    <li class="nav-item3"><a href="login.html.html"><img src="image/icone-usuario.png" alt="ícone de usuário" width="40"></a></li>
                </ul>
            </div>
            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="image/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="#" class="nav-link">Menu</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Carrinho</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Usúario</a></li>
            </ul>
        </div>
        </nav>
    </header>
    <script src="js/script-header.js"> </script>
    </header>
    <main>
        <div id="sobre">
            <div class="lado1">
                <div>
                    <img class="fotoLogo" src="image/logomiuda-removebg-preview.png" alt="">
                </div>
                <div>
                    <div class="fotoLivraria">
                        <img class="imagemLivraria" src="image/miudafrente.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="sobreTexto">
                <div class="infoAbout">
                    <h1>Sobre nós</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptatum impedit temporibus reiciendis illum natus, quisquam enim magni asperiores aliquam fuga sint quam quibusdam similique perspiciatis officiis ea sequi incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus distinctio odit saepe molestiae quia eius ab dignissimos! Est odio id reiciendis repellat a ad quisquam enim sed? Fuga, autem harum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores possimus repellendus esse, illo magnam minima, similique eos deserunt architecto volPDuptatum, necessitatibus assumenda vitae doloribus recusandae dolore rerum sapiente earum cum.</p>
                </div>
            </div>
        </div>
    </main>
    <!-- footer natan -->
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <h1>Livraria Miúda</h1>
                <p>Literatura para a infância</p>

                <div id="footer_social_media">
                    <a href="https://www.instagram.com/livrariamiuda/" target="_blank" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/livrariamiuda" target="_blank" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="https://api.whatsapp.com/message/EKTY4JEVBCZ3H1?autoload=1&app_absent=0"  target="_blank" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
            
            <ul class="footer-list">
                <li>
                    <h3>Blog</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Lorem ipsum dolor amet</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Lorem ipsum dolor amet</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Lorem ipsum dolor amet</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Products</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Lorem ipsum dolor amet</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Lorem ipsum dolor amet</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Lorem ipsum dolor amet</a>
                </li>
            </ul>

            <div id="footer_subscribe">
                <h3>Cadastrar Email</h3>

                <p>
                    Cadastre seu e-mail para receber todas as
                    novidades!
                </p>

                <div id="input_group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            &#169
            2023 all rights reserved
        </div>
    </footer>
</body>
</html>
